<h1>Editing dropbox</h1>

<% form_for(@dropbox) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :real_user %><br />
    <%= f.text_field :real_user %>
  </p>
  <p>
    <%= f.label :effective_user %><br />
    <%= f.text_field :effective_user %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dropbox %> |
<%= link_to 'Back', dropboxes_path %>