<h1>Listing dropboxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Real user</th>
    <th>Effective user</th>
  </tr>

<% @dropboxes.each do |dropbox| %>
  <tr>
    <td><%=h dropbox.name %></td>
    <td><%=h dropbox.real_user %></td>
    <td><%=h dropbox.effective_user %></td>
    <td><%= link_to 'Show', dropbox %></td>
    <td><%= link_to 'Edit', edit_dropbox_path(dropbox) %></td>
    <td><%= link_to 'Destroy', dropbox, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dropbox', new_dropbox_path %>