<p>
  <b>Name:</b>
  <%=h @dropbox.name %>
</p>

<p>
  <b>Real user:</b>
  <%=h @dropbox.real_user %>
</p>

<p>
  <b>Effective user:</b>
  <%=h @dropbox.effective_user %>
</p>


<%= link_to 'Edit', edit_dropbox_path(@dropbox) %> |
<%= link_to 'Back', dropboxes_path %>